@function ln-build-fonts-map($ln-font-keys) {
  $result: ();

  @each $key in $ln-font-keys {
    $result: map-merge(
      $result,
      (
        $key: (
          map-get($ln-font-sizes, $key),
          map-get($ln-line-heights, $key),
          map-get($ln-font-families, $key),
          map-get($ln-font-weights, $key)
        )
      )
    );
  }

  @return $result;
}
