@if $use-ln-breadcrumbs {
  .ln-c-breadcrumbs {
    font-family: $ln-font-family-brand;

    @include ln-push-bottom;
  }

  .ln-c-breadcrumbs__item {
    position: relative;

    &::after {
      content: '/';
      display: inline-block;
      position: absolute;
      right: -0.7rem;
      top: 50%;
      transform: translateY(-50%);

      @include ln-respond-to('sm') {
        right: -1rem;
      }
    }
  }
}
