@if $use-ln-button {
/* stylelint-disable */
/// Primary and secondary cosmetic styling can be composed with larger
/// sizing and both types with the full-width and/or disabled.
/// @name Button
/// @group components
/// @example markup - Primary
///   <button class="ln-c-button ln-c-button--primary">Primary</button>
/// @example markup - Secondary
///   <button class="ln-c-button ln-c-button--secondary">Secondary</button>
/// @example markup - Deep
///   <button class="ln-c-button ln-c-button--primary ln-c-button--deep">Deep</button>
/// @example markup - Full width
///   <button class="ln-c-button ln-c-button--primary ln-c-button--full">Full width</button>
/// @example markup - Disabled
///   <button class="ln-c-button ln-c-button--primary" disabled>Disabled</button>
/// @example markup - Text button
///   <button class="ln-c-button ln-c-button--text-only">Text button</button>
/* stylelint-enable */
  .ln-c-button {
    @include ln-font('cta');

    background-color: transparent;
    background-image: none;
    border-radius: $ln-border-radius;
    cursor: pointer;
    min-height: $ln-size-def;
    min-width: $ln-size-def;
    padding: $ln-space $ln-space-x2;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;

    // Only apply flex to non-buttons
    // https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
    &:not(button) {
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }
  }

  .ln-c-button--primary {
    background-color: $ln-color-button-primary-background;
    color: $ln-color-button-primary;

    &:hover,
    &:focus {
      background-color: $ln-color-button-primary-background-hover;
      color: $ln-color-button-primary;
    }
  }

  .ln-c-button--secondary {
    background-color: $ln-color-button-secondary-background;
    color: $ln-color-button-secondary;
    position: relative;

    &:hover,
    &:focus {
      background-color: $ln-color-button-secondary-background-hover;
      color: $ln-color-button-secondary-hover;
    }
  }

  .ln-c-button--outlined {
    background-color: transparent;
    border: 2px solid $ln-color-button-outlined-border;
    color: $ln-color-button-outlined;

    &:hover,
    &:focus {
      background-color: $ln-color-button-outlined-background-hover;
      border-color: $ln-color-button-outlined-border-hover;
      color: $ln-color-button-outlined-hover;
    }
  }

  .ln-c-button--deep {
    padding-bottom: $ln-space-x3;
    padding-top: $ln-space-x3;

    @include ln-respond-to($ln-size-lg-breakpoint) {
      min-height: $ln-size-lg;
    }
  }

  .ln-c-button--full {
    width: 100%;
  }

  .ln-c-button[disabled] {
    background-color: $ln-color-button-disabled-background;
    color: $ln-color-button-disabled;
    cursor: not-allowed;
    pointer-events: none;

    &.ln-c-button--outlined {
      background-color: $ln-color-button-outlined-disabled-background;
      border-color: $ln-color-button-outlined-disabled-border;
    }
  }

  .ln-c-button--text-only {
    background-color: transparent;
    border-bottom: 2px solid currentColor;
    color: $ln-color-black;
    min-height: 0;
    padding: 0;

    &:hover,
    &:focus {
      color: $ln-color-alpha-dark;
    }
  }

  .ln-c-button--create {
    display: table;
    position: relative;
    text-align: left;

    &::before {
      border: 2px dashed $ln-color-grey;
      bottom: 0;
      content: ' ';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &::after {
      @include ln-font-size('h2');

      content: '+';
      line-height: 0;
      padding-left: $ln-space-x3;

      @include ln-respond-to('max-xs') {
        @include ln-font-size('h1');
      }
    }
  }

  .ln-c-button--create__text,
  .ln-c-button--create::after {
    display: table-cell;
    vertical-align: middle;
  }

  .ln-c-button--full > .ln-c-button--create__text {
    width: 100%;
  }

  .ln-c-button--nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ln-c-button--align-left {
    justify-content: flex-start;
    text-align: left;
  }

  .ln-c-button--align-right {
    justify-content: flex-end;
    text-align: right;
  }
}
