.ln-c-dropdown-list {
  border-color: $ln-color-base-border;
  border-style: none solid solid;
  border-width: 1px;
  list-style: none;
  margin: 0;
  max-height: $ln-size-def * 5;
  overflow: auto;

  &:empty {
    border-style: none;
  }
}

.ln-c-dropdown-list__item {
  border-bottom: 1px solid $ln-color-grey;
  min-height: $ln-size-def;
  padding: $ln-space $ln-space-x2;

  &:focus,
  &:hover,
  &.is-hover,
  &.is-selected {
    background-color: $ln-color-grey-dark;
    color: $ln-color-white;
  }
}
