@if $use-ln-input-group {
  $input-border-width: 2px;

  .ln-c-input-group {
    position: relative;

    &.ln-c-input-group--has-button:hover::after {
      background: $ln-color-white;
      bottom: $input-border-width;
      // Hide input hover shadow
      content: ' ';
      position: absolute;
      right: 0;
      top: $input-border-width;
      width: 1px;
    }
  }

  .ln-c-input-group__icon {
    color: $ln-color-black;
    height: map-get($ln-icon-sizes-fixed, 'def');
    left: $ln-space-x2;
    line-height: map-get($ln-icon-sizes-fixed, 'def');
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: map-get($ln-icon-sizes-fixed, 'def');
  }

  .ln-c-input-group__action {
    background-color: $ln-color-white;
    bottom: $input-border-width;
    color: $ln-color-black;
    cursor: pointer;
    min-height: auto;
    padding: 0 $ln-space-x2;
    position: absolute;
    right: $input-border-width;
    top: $input-border-width;

    .ln-c-input-group--has-button & {
      right: 0;
    }
  }

  .ln-c-input-group__control {
    .ln-c-input-group--has-icon & {
      padding-left: calc(#{$ln-space-x2 * 2} + #{map-get($ln-icon-sizes, 'def')});
    }

    .ln-c-input-group--has-action & {
      padding-right: calc(#{$ln-space-x2 * 2} + #{map-get($ln-icon-sizes, 'def')});

      &::-ms-clear {
        display: none;
      }
    }

    .ln-c-input-group--has-button & {
      border-right: none;
    }
  }
}
