@if $use-ln-label {
  .ln-c-label {
    @include ln-font-size('h5');

    color: $ln-color-grey-dark;
    display: inline-block;
    font-family: $ln-font-family-brand;
    font-weight: bold;
    margin-bottom: $ln-space;
  }

  .ln-c-label__info {
    color: $ln-color-grey;
  }
}
