@if $use-ln-modal {
  .ln-c-modal {
    background-color: $ln-overlay-background;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: $ln-space-x2;
    perspective: 800px;
    position: fixed;
    top: 0;
    transform: scale(0);
    width: 100%;
    will-change: transform;
    z-index: 3;

    &.is-open {
      opacity: 1;
      transform: scale(1);
      transition: opacity $ln-transition-duration;
    }
  }

  .ln-c-modal__body {
    background-color: $ln-color-white;
    margin: auto;
    max-width: 800px;
    min-height: auto;
    opacity: 0;
    outline: none;
    position: relative;
    transform: scale(0.5) rotateX(50deg);
    visibility: hidden;
    width: 100%;

    @include ln-soft;
  }

  .ln-c-modal.is-open .ln-c-modal__body {
    opacity: 1;
    transform: none;
    transition:
      transform $ln-transition-duration ($ln-transition-duration / 2),
      opacity $ln-transition-duration ($ln-transition-duration / 2);
    visibility: visible;
  }
}
