@if $use-ln-navigation {
  .ln-c-navigation {
    font-family: $ln-font-family-brand;
    list-style: none;
    margin: 0;

    @include ln-respond-to('max-nav') {
      backface-visibility: hidden;
      background: $ln-navigation-background-color;
      flex: 1 100%;
      order: 1;
      position: relative;
      transform: translate(-100%, 0);
      z-index: 2;
    }

    @include ln-respond-to('max-xs') {
      width: 100%;
    }
  }

  .ln-c-header.is-open .ln-c-navigation {
    @include ln-respond-to('max-nav') {
      transform: translate(0, 0);
      transition: transform $ln-transition-duration;
    }
  }

  @include ln-respond-to('nav') {
    .ln-c-navigation,
    .ln-c-navigation__item {
      float: left;
    }

    .ln-c-navigation__item + .ln-c-navigation__item {
      margin-left: $ln-space-x2;
    }
  }

  .ln-c-navigation__item--has-dropdown {
    position: relative;
  }

  .ln-c-navigation__link,
  .ln-c-navigation__dropdown-toggle {
    color: currentColor;
    display: block;
    font-family: inherit;
    font-weight: 500;
    position: relative;
    text-decoration: none;

    @include ln-respond-to('nav') {
      padding: 0 $ln-space;
    }

    @include ln-respond-to('max-nav') {
      padding: $ln-navigation-collapsed-item-spacing $ln-navigation-collapsed-indent;
    }

    &:hover,
    &:focus {
      color: $ln-color-alpha;
      outline: none;
    }

    &::before {
      background: $ln-color-alpha;
      bottom: 1px;
      content: ' ';
      left: 0;
      opacity: 0;
      position: absolute;

      @include ln-respond-to('nav') {
        height: $ln-nav-item-bar-width;
        right: 0;
      }

      @include ln-respond-to('max-nav') {
        bottom: 2px;
        top: 2px;
        width: $ln-nav-item-bar-width;
      }
    }
  }

  .ln-c-navigation__link.is-active::before,
  .ln-c-navigation__link:hover::before,
  .ln-c-navigation__link:focus::before,
  .ln-c-navigation__dropdown-toggle.is-active::before,
  .ln-c-navigation__dropdown-toggle:hover::before,
  .ln-c-navigation__dropdown-toggle:focus::before, {
    opacity: 1;
  }

  .ln-c-navigation__dropdown-toggle {
    background: transparent;
    line-height: inherit;
    position: relative;
    // transform: rotate(10deg);

    @include ln-respond-to('max-nav') {
      text-align: left;
      width: 100%;
    }
  }

  .ln-c-navigation__dropdown-icon {
    $size: 12px;

    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxODUuMzQ0IiBoZWlnaHQ9IjE4NS4zNDQiIHZpZXdCb3g9IjAgMCAxODUuMzQ0IDE4NS4zNDQiPjxwYXRoIGZpbGw9IiMxNjE2MTYiIGQ9Ik05Mi42NzIgMTQ0LjM3M2MtMi43NTIgMC01LjQ5My0xLjA0NC03LjU5My0zLjEzOEwzLjE0NCA1OS4zYy00LjE5NC00LjE5OC00LjE5NC0xMC45OSAwLTE1LjE4IDQuMTk0LTQuMTk4IDEwLjk4Ny00LjE5OCAxNS4xOCAwbDc0LjM0NyA3NC4zNDIgNzQuMzQ3LTc0LjM0YzQuMTkzLTQuMiAxMC45ODYtNC4yIDE1LjE4IDAgNC4xOTMgNC4xOTMgNC4xOTMgMTAuOTggMCAxNS4xOGwtODEuOTQgODEuOTMzYy0yLjA5NCAyLjA5NC00Ljg0IDMuMTM4LTcuNTg4IDMuMTM4eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: $size;
    margin-left: $ln-space;
    width: $size;
  }

  .ln-c-navigation__dropdown-toggle:hover .ln-c-navigation__dropdown-icon,
  .ln-c-navigation__dropdown-toggle:focus .ln-c-navigation__dropdown-icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxODUuMzQ0IiBoZWlnaHQ9IjE4NS4zNDQiIHZpZXdCb3g9IjAgMCAxODUuMzQ0IDE4NS4zNDQiPjxwYXRoIGZpbGw9IiNmMDZjMDAiIGQ9Ik05Mi42NzIgMTQ0LjM3M2MtMi43NTIgMC01LjQ5My0xLjA0NC03LjU5My0zLjEzOEwzLjE0NCA1OS4zYy00LjE5NC00LjE5OC00LjE5NC0xMC45OSAwLTE1LjE4IDQuMTk0LTQuMTk4IDEwLjk4Ny00LjE5OCAxNS4xOCAwbDc0LjM0NyA3NC4zNDIgNzQuMzQ3LTc0LjM0YzQuMTkzLTQuMiAxMC45ODYtNC4yIDE1LjE4IDAgNC4xOTMgNC4xOTMgNC4xOTMgMTAuOTggMCAxNS4xOGwtODEuOTQgODEuOTMzYy0yLjA5NCAyLjA5NC00Ljg0IDMuMTM4LTcuNTg4IDMuMTM4eiIvPjwvc3ZnPg==');
  }

  .ln-c-navigation__dropdown-toggle.is-open::before {
    @include ln-respond-to('max-nav') {
      bottom: 0;
      opacity: 1;
    }
  }

  .ln-c-navigation__dropdown-toggle.is-open .ln-c-navigation__dropdown-icon {
    transform: rotate(180deg);
  }

  .ln-c-navigation__dropdown-toggle.is-open + .ln-c-navigation__dropdown {
    @include ln-visually-hidden(false, true);

    visibility: visible;

    @include ln-respond-to('nav') {
      position: absolute;
      transform: scale(1);
      transition: transform $ln-transition-duration, opacity $ln-transition-duration;
      white-space: nowrap;
    }
  }

  .ln-c-navigation__dropdown {
    @include ln-visually-hidden;

    background: $ln-navigation-background-color;
    left: 0;
    list-style: none;
    margin: 0;
    top: 100%;
    visibility: hidden;
    z-index: 2;

    @include ln-respond-to('nav') {
      border: 1px solid $ln-color-nav-border;
      border-top: 0;
      transform: scale(1, 0);
      transform-origin: 50% 0;
    }
  }

  .ln-c-navigation__dropdown .ln-c-navigation__item {
    float: none;
    margin-left: 0;
  }

  .ln-c-navigation__dropdown .ln-c-navigation__link {
    &::before {
      bottom: 2px;
      height: auto;
      top: 2px;
      width: $ln-nav-item-bar-width;
    }

    @include ln-respond-to('nav') {
      line-height: map-get($ln-line-heights, $ln-line-height-base);
      padding: $ln-space $ln-space-x2;
    }

    @include ln-respond-to('max-nav') {
      padding-left: ($ln-navigation-collapsed-indent * 2);
      padding-right: ($ln-navigation-collapsed-indent * 2);

      &::before {
        background-color: $ln-color-black;
        bottom: 0;
        opacity: 1;
        top: 0;
      }

      &:hover::before,
      &:focus::before {
        background-color: $ln-color-alpha;
      }
    }
  }
}
