@if $use-ln-standalone-link {
  .ln-c-standalone-link {
    @include ln-font('cta');

    border-bottom: 2px solid currentColor;
    color: $ln-color-black;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $ln-color-alpha-dark;
    }
  }
}
