@if $use-ln-status-card {
  .ln-c-status-card {
    background-color: $ln-color-white;
    border-left: $ln-status-bar-width solid $ln-color-grey;
    display: block;

    @include ln-soft-ends;
  }

  .ln-c-status-card--red {
    border-left-color: $ln-color-red;
  }

  .ln-c-status-card--amber {
    border-left-color: $ln-color-yellow;
  }

  .ln-c-status-card--green {
    border-left-color: $ln-color-green;
  }

  .ln-c-status-card--blue {
    border-left-color: $ln-color-blue;
  }

  .ln-c-status-card--transparent {
    border-left-color: $ln-color-transparent;
  }

  .ln-c-status-card--link {
    color: inherit;
    font-weight: inherit;
    padding-right: $ln-space-x3;
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px $ln-color-base-border;
      color: inherit;
    }
  }

  .ln-c-status-card--link:hover .ln-c-status-card__chevron,
  .ln-c-status-card--link:focus .ln-c-status-card__chevron {
    color: $ln-color-alpha;
  }

  .ln-c-status-card__chevron {
    position: absolute;
    right: $ln-space;
    top: 50%;
    transform: translateY(-50%);
  }

  .ln-c-status-card__content {
    @include ln-soft-sides;
  }

  .ln-c-status-card__chevron .ln-c-icon {
    display: block;
  }
}
