@if $use-ln-text-input {
  .ln-c-text-input {
    @include ln-text-input;

    &:not([disabled]) {
      .ln-c-form-group.has-error & {
        @include ln-text-input-border-variant($ln-color-error);

        background-image: linear-gradient(to right, $ln-color-error $ln-status-bar-width, $ln-color-white $ln-status-bar-width);
      }

      .ln-c-form-group.has-warning & {
        @include ln-text-input-border-variant($ln-color-warning);

        background-image: linear-gradient(to right, $ln-color-warning $ln-status-bar-width, $ln-color-white $ln-status-bar-width);
      }
    }
  }

  .ln-c-text-input--textarea {
    min-height: 8rem;
    padding-bottom: $ln-space;
    padding-top: $ln-space;
    resize: vertical;
  }

  .ln-c-text-input::placeholder {
    color: $ln-color-grey;
  }

  .ln-c-text-input[disabled] {
    background-image: linear-gradient($ln-color-background-disabled, $ln-color-background-disabled);
    cursor: not-allowed;
  }
}
