////
/// Colours theming
/// @group settings/colours/theming
////
$ln-color-alpha-light: $ln-color-orange-light !default;
$ln-color-alpha: $ln-color-orange !default;
$ln-color-alpha-dark: $ln-color-orange-dark !default;

$ln-color-beta-light: $ln-color-grey-light !default;
$ln-color-beta: $ln-color-grey !default;
$ln-color-beta-dark: $ln-color-grey-dark !default;

$ln-color-gamma: $ln-color-red !default;
$ln-color-delta: $ln-color-aqua !default;
$ln-color-epsilon: $ln-color-green !default;
$ln-color-zeta: $ln-color-yellow !default;
$ln-color-eta: $ln-color-blue !default;

$ln-colors-theming: (
  'alpha-light': $ln-color-alpha-light,
  'alpha': $ln-color-alpha,
  'alpha-dark': $ln-color-alpha-dark,

  'beta-light': $ln-color-beta-light,
  'beta': $ln-color-beta,
  'beta-dark': $ln-color-beta-dark,

  'gamma': $ln-color-gamma,
  'delta': $ln-color-delta,
  'epsilon': $ln-color-epsilon,
  'zeta': $ln-color-zeta,
  'eta': $ln-color-eta
);

// Typography

/// Base text colour
/// @group settings/colours/typography
/// @type Color
$ln-color-base-text: $ln-color-grey-dark !default;

/// Base link colour
/// @group settings/colours/typography
/// @type Color
$ln-color-links: currentColor !default;

// General

/// Site background colour
/// @group settings/colours/general
/// @type Color
$ln-color-site-background: $ln-color-grey-v-light !default;

/// Standard border colour
/// @group settings/colours/general
/// @type Color
$ln-color-base-border: $ln-color-grey !default;

/// Standard nav border colour
/// @group settings/colours/general
/// @type Color
$ln-color-nav-border: $ln-color-base-border !default;

/// Error colour
/// @group settings/colours/general
/// @type Color
$ln-color-error: $ln-color-red;

/// Warning colour
/// @group settings/colours/general
/// @type Color
$ln-color-warning: $ln-color-yellow;

$ln-color-highlight-background: rgba($ln-color-black, 0.06) !default;

// Overlay background
$ln-overlay-background: rgba($ln-color-black, 0.7) !default;

// Navigation
$ln-navigation-background-color: $ln-color-white !default;
