/* Note: "true" values are compiled into the stylesheet */

// Grid
/// Luna features that can be switched off to reduce the compiled output.
/// All of these are set to true by default.
/// @group settings/feature-toggles
/// @type Bool
$use-ln-grid: true !default;
$use-ln-grid-equal-height: true !default;
$use-ln-grid-center: true !default;
$use-ln-grid-bottom: true !default;
$use-ln-grid-reverse: true !default;
$use-ln-grid-gutter-breakpoints: true !default;
$use-ln-grid-matrix: true !default;
$use-ln-grid-zero-font-size-fix: true !default;

// Container
$use-ln-container: true !default;

// Colors
$use-ln-colors: true !default;
$use-ln-bg-colors: true !default;

// Lists
$use-ln-bare-list: true !default;
$use-ln-inline-list: true !default;
$use-ln-matrix-list: true !default;
$use-ln-justified-list: true !default;

// Objects
$use-ln-bare-link: true !default;
$use-ln-flag: true !default;
$use-ln-clearfix: true !default;
$use-ln-flyout: true !default;
$use-ln-site-wrap: false !default;

// Typography
$use-ln-fonts: true !default;
$use-ln-font-size: true !default;
$use-ln-font-styling: true !default;
$use-ln-text-alignment: true !default;
$use-ln-font-family: true !default;
$use-ln-article: true !default;

// Spacing
$use-ln-push: true !default;
$use-ln-flush: true !default;
$use-ln-soft: true !default;
$use-ln-hard: true !default;
$use-ln-padding: true !default;
$use-ln-margin: true !default;

// Borders
$use-ln-border: true !default;
$use-ln-clean: true !default;

// Layout
$use-ln-display: true !default;
$use-ln-display-responsive: true !default;
$use-ln-center-block: true !default;
$use-ln-flexbox: true !default;

// Hidden
$use-ln-hidden: true !default;
$use-ln-visually-hidden: true !default;

// Misc
$use-ln-circle: true !default;
$use-ln-ellipsis: true !default;
$use-ln-fill-height: true !default;

// Widths
$use-ln-width-1-1: true !default;
$use-ln-width-1-2: true !default;
$use-ln-width-1-3: true !default;
$use-ln-width-2-3: true !default;
$use-ln-width-1-4: true !default;
$use-ln-width-2-4: true !default;
$use-ln-width-3-4: true !default;
$use-ln-width-1-5: true !default;
$use-ln-width-2-5: true !default;
$use-ln-width-3-5: true !default;
$use-ln-width-4-5: true !default;
$use-ln-width-1-6: true !default;
$use-ln-width-2-6: true !default;
$use-ln-width-3-6: true !default;
$use-ln-width-4-6: true !default;
$use-ln-width-5-6: true !default;
$use-ln-width-1-8: true !default;
$use-ln-width-2-8: true !default;
$use-ln-width-3-8: true !default;
$use-ln-width-4-8: true !default;
$use-ln-width-5-8: true !default;
$use-ln-width-6-8: true !default;
$use-ln-width-7-8: true !default;
$use-ln-width-1-10: true !default;
$use-ln-width-2-10: true !default;
$use-ln-width-3-10: true !default;
$use-ln-width-4-10: true !default;
$use-ln-width-5-10: true !default;
$use-ln-width-6-10: true !default;
$use-ln-width-7-10: true !default;
$use-ln-width-8-10: true !default;
$use-ln-width-9-10: true !default;
$use-ln-width-1-12: true !default;
$use-ln-width-2-12: true !default;
$use-ln-width-3-12: true !default;
$use-ln-width-4-12: true !default;
$use-ln-width-5-12: true !default;
$use-ln-width-6-12: true !default;
$use-ln-width-7-12: true !default;
$use-ln-width-8-12: true !default;
$use-ln-width-9-12: true !default;
$use-ln-width-10-12: true !default;
$use-ln-width-11-12: true !default;

// Push
$use-ln-push-1-1: true !default;
$use-ln-push-1-2: true !default;
$use-ln-push-1-3: true !default;
$use-ln-push-2-3: true !default;
$use-ln-push-1-4: true !default;
$use-ln-push-2-4: true !default;
$use-ln-push-3-4: true !default;
$use-ln-push-1-5: true !default;
$use-ln-push-2-5: true !default;
$use-ln-push-3-5: true !default;
$use-ln-push-4-5: true !default;
$use-ln-push-1-6: true !default;
$use-ln-push-2-6: true !default;
$use-ln-push-3-6: true !default;
$use-ln-push-4-6: true !default;
$use-ln-push-5-6: true !default;
$use-ln-push-1-8: true !default;
$use-ln-push-2-8: true !default;
$use-ln-push-3-8: true !default;
$use-ln-push-4-8: true !default;
$use-ln-push-5-8: true !default;
$use-ln-push-6-8: true !default;
$use-ln-push-7-8: true !default;
$use-ln-push-1-10: true !default;
$use-ln-push-2-10: true !default;
$use-ln-push-3-10: true !default;
$use-ln-push-4-10: true !default;
$use-ln-push-5-10: true !default;
$use-ln-push-6-10: true !default;
$use-ln-push-7-10: true !default;
$use-ln-push-8-10: true !default;
$use-ln-push-9-10: true !default;
$use-ln-push-1-12: true !default;
$use-ln-push-2-12: true !default;
$use-ln-push-3-12: true !default;
$use-ln-push-4-12: true !default;
$use-ln-push-5-12: true !default;
$use-ln-push-6-12: true !default;
$use-ln-push-7-12: true !default;
$use-ln-push-8-12: true !default;
$use-ln-push-9-12: true !default;
$use-ln-push-10-12: true !default;
$use-ln-push-11-12: true !default;

// Pull
$use-ln-pull-1-1: true !default;
$use-ln-pull-1-2: true !default;
$use-ln-pull-1-3: true !default;
$use-ln-pull-2-3: true !default;
$use-ln-pull-1-4: true !default;
$use-ln-pull-2-4: true !default;
$use-ln-pull-3-4: true !default;
$use-ln-pull-1-5: true !default;
$use-ln-pull-2-5: true !default;
$use-ln-pull-3-5: true !default;
$use-ln-pull-4-5: true !default;
$use-ln-pull-1-6: true !default;
$use-ln-pull-2-6: true !default;
$use-ln-pull-3-6: true !default;
$use-ln-pull-4-6: true !default;
$use-ln-pull-5-6: true !default;
$use-ln-pull-1-8: true !default;
$use-ln-pull-2-8: true !default;
$use-ln-pull-3-8: true !default;
$use-ln-pull-4-8: true !default;
$use-ln-pull-5-8: true !default;
$use-ln-pull-6-8: true !default;
$use-ln-pull-7-8: true !default;
$use-ln-pull-1-10: true !default;
$use-ln-pull-2-10: true !default;
$use-ln-pull-3-10: true !default;
$use-ln-pull-4-10: true !default;
$use-ln-pull-5-10: true !default;
$use-ln-pull-6-10: true !default;
$use-ln-pull-7-10: true !default;
$use-ln-pull-8-10: true !default;
$use-ln-pull-9-10: true !default;
$use-ln-pull-1-12: true !default;
$use-ln-pull-2-12: true !default;
$use-ln-pull-3-12: true !default;
$use-ln-pull-4-12: true !default;
$use-ln-pull-5-12: true !default;
$use-ln-pull-6-12: true !default;
$use-ln-pull-7-12: true !default;
$use-ln-pull-8-12: true !default;
$use-ln-pull-9-12: true !default;
$use-ln-pull-10-12: true !default;
$use-ln-pull-11-12: true !default;

// Components
$use-ln-accordion: true !default;
$use-ln-activities: true !default;
$use-ln-avatar: true !default;
$use-ln-badge: true !default;
$use-ln-breadcrumbs: true !default;
$use-ln-button-group: true !default;
$use-ln-button: true !default;
$use-ln-button: true !default;
$use-ln-card: true !default;
$use-ln-characters-counter: true !default;
$use-ln-dismiss: true !default;
$use-ln-dropdown-button: true !default;
$use-ln-field-info: true !default;
$use-ln-form-group: true !default;
$use-ln-form-option: true !default;
$use-ln-header: true !default;
$use-ln-icon-nav: true !default;
$use-ln-icon: true !default;
$use-ln-input-group: true !default;
$use-ln-label: true !default;
$use-ln-loading-indicator: true !default;
$use-ln-modal: true !default;
$use-ln-navigation-toggle: true !default;
$use-ln-navigation-wrapper: true !default;
$use-ln-navigation: true !default;
$use-ln-notifications: true !default;
$use-ln-password-strength-meter: true !default;
$use-ln-password: true !default;
$use-ln-sainsburys-icon: true !default;
$use-ln-search: true !default;
$use-ln-select: true !default;
$use-ln-standalone-link: true !default;
$use-ln-status-card: true !default;
$use-ln-striped: true !default;
$use-ln-table: true !default;
$use-ln-tabs: true !default;
$use-ln-text-input: true !default;
$use-ln-topbar: true !default;
