////
/// @group settings/typography
////

/// The default font-family that gets applied to the `<body />`
/// @type String
$ln-font-family-base: arial, sans-serif !default;

/// Brand font that gets applied to headings and other branded text.
/// @type String
$ln-font-family-brand: MaryAnn, 'Trebuchet MS', sans-serif !default;

/// A list of keys used for the Luna font stack, typically consumed by mixins that generate
/// font-sizes etc.
/// @type List
$ln-font-keys: (hero, h1, h2, h3, h4, h5, h6, cta, body, body-sm) !default;

/// A Sass map containing pixel values for all the font-sizes, each `h` key from `h1` -> `h7`
/// contains a nested Sass map of font-sizes to map them to their corresponding breakpoints; `def`
/// the font-size from zero to the `xs` breakpoint in `$ln-breakpoints`, `xs` the font-size from
/// `xs` to the `sm` breakpoint in `$ln-breakpoints` & `sm` the font-size from `sm` breakpoint in
/// `$ln-breakpoints` to &infin;
/// @type Map
$ln-font-sizes-pixels: (
  hero: (
    def: 48px,
    sm: 52px
  ),
  h1: (
    def: 36px,
    sm: 40px
  ),
  h2: (
    def: 24px,
    sm: 28px
  ),
  h3: (
    def: 20px,
    sm: 24px
  ),
  h4: (
    def: 18px,
    sm: 20px
  ),
  h5: (
    def: 18px,
    sm: 20px
  ),
  h6: (
    def: 16px
  ),
  cta: (
    def: 18px
  ),
  body: (
    def: 16px,
    sm: 18px
  ),
  body-sm: (
    def: 16px
  )
) !default;

/// The result of calling a function that converts the pixel values in `ln-font-sizes-pixels` into
/// Rems.
/// @type Map
$ln-font-sizes: ln-px-to-rem-font-sizes($ln-font-sizes-pixels) !default;

/// A Sass map from that contains the line-heights directly mapping to `$ln-font-keys`.
/// @type Map
$ln-line-heights: (
  hero: 16/13,
  h1: 12/10,
  h2: 9/7,
  h3: 7/6,
  h4: 6/5,
  h5: 6/5,
  h6: 5/4,
  cta: 24/18,
  body: 28/18,
  body-sm: 6/4
) !default;

/// A Sass map from that contains the font-families directly mapping to `$ln-font-keys`.
/// @type Map
$ln-font-families: (
  hero: $ln-font-family-brand,
  h1: $ln-font-family-brand,
  h2: $ln-font-family-brand,
  h3: $ln-font-family-brand,
  h4: $ln-font-family-brand,
  h5: $ln-font-family-brand,
  h6: $ln-font-family-brand,
  cta: $ln-font-family-brand,
  body: $ln-font-family-base,
  body-sm: $ln-font-family-base
) !default;

/// Default font weight
/// @type Number
$ln-font-weight-regular: 400 !default;

/// Medium font weight
/// @type Number
$ln-font-weight-medium: 500 !default;

/// Bold font weight
/// @type Number
$ln-font-weight-bold: 700 !default;

/// A Sass map that contains the font-weights directly mapping to `$ln-font-keys`.
/// @type Map
$ln-font-weights: (
  hero: $ln-font-weight-bold,
  h1: $ln-font-weight-bold,
  h2: $ln-font-weight-bold,
  h3: $ln-font-weight-bold,
  h4: $ln-font-weight-bold,
  h5: $ln-font-weight-medium,
  h6: $ln-font-weight-bold,
  cta: $ln-font-weight-bold,
  body: $ln-font-weight-regular,
  body-sm: $ln-font-weight-regular
) !default;

/// The font-size that gets applied to the `<body />` node. This is the default font-size for text
/// that isn't a heading or classed with a typographical utility.
/// @type String
$ln-font-size-base: 'body' !default;

/// The line-height that gets applied to the `<body />` node. This is the default font-size for text
/// that isn't a heading or classed with a typographical utility.
/// @type String
$ln-line-height-base: 'body' !default;

$ln-line-height-base-px: ln-line-height-to-px-sizes(
  map-get($ln-line-heights, $ln-line-height-base),
  map-get($ln-font-sizes-pixels, $ln-font-size-base)
);

// Log errors for unmatching maps.
@if map-keys($ln-font-sizes) != $ln-font-keys {
  @warn 'Unfortunately, the keys in `$ln-font-sizes` do not match those found within `$ln-font-keys` list.';
}

@if map-keys($ln-line-heights) != $ln-font-keys {
  @warn 'Unfortunately, the keys in `$ln-line-heights` do not match those found within `$ln-font-keys` list.';
}

@if map-keys($ln-font-families) != $ln-font-keys {
  @warn 'Unfortunately, the keys in `$ln-font-families` do not match those found within `$ln-font-keys` list.';
}

@if map-keys($ln-font-weights) != $ln-font-keys {
  @warn 'Unfortunately, the keys in `$ln-font-weights` do not match those found within `$ln-font-keys` list.';
}

$ln-fonts: null; // This gets populated in the `_font-mixin` located within the `tools` layer.
