////
/// @group utilities/border
////

@if $use-ln-border {
/* stylelint-disable */
/// Adds a border using `$ln-color-base-border`.
/// @name Border
/// @example markup
///   <div class="ln-u-soft ln-u-border">ln-u-border</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border-top">ln-u-border-top</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border-right">ln-u-border-right</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border-bottom">ln-u-border-bottom</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border-left">ln-u-border-left</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border-sides">ln-u-border-sides</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border-ends">ln-u-border-ends</div>
/* stylelint-enable */
  .ln-u-border {
    border: 1px solid $ln-color-base-border !important;
  }

  .ln-u-border-top {
    border-top: 1px solid $ln-color-base-border !important;
  }

  .ln-u-border-right {
    border-right: 1px solid $ln-color-base-border !important;
  }

  .ln-u-border-bottom {
    border-bottom: 1px solid $ln-color-base-border !important;
  }

  .ln-u-border-left {
    border-left: 1px solid $ln-color-base-border !important;
  }

  .ln-u-border-sides {
    border-left: 1px solid $ln-color-base-border !important;
    border-right: 1px solid $ln-color-base-border !important;
  }

  .ln-u-border-ends {
    border-bottom: 1px solid $ln-color-base-border !important;
    border-top: 1px solid $ln-color-base-border !important;
  }
}

@if $use-ln-clean {
/* stylelint-disable */
/// Removes borders from an element.
/// @name Clean
/// @example markup
///   <div class="ln-u-soft ln-u-border ln-u-clean">ln-u-clean</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border ln-u-clean-top">ln-u-clean-top</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border ln-u-clean-right">ln-u-clean-right</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border ln-u-clean-bottom">ln-u-clean-bottom</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border ln-u-clean-left">ln-u-clean-left</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border ln-u-clean-sides">ln-u-clean-sides</div>
/// @example markup
///   <div class="ln-u-soft ln-u-border ln-u-clean-ends">ln-u-clean-ends</div>
/* stylelint-enable */
  .ln-u-clean {
    border: 0 !important;
  }

  .ln-u-clean-top {
    border-top: 0 !important;
  }

  .ln-u-clean-right {
    border-right: 0 !important;
  }

  .ln-u-clean-bottom {
    border-bottom: 0 !important;
  }

  .ln-u-clean-sides {
    border-left: 0 !important;
    border-right: 0 !important;
  }

  .ln-u-clean-ends {
    border-bottom: 0 !important;
    border-top: 0 !important;
  }
}
