@if $use-ln-hidden {
/* stylelint-disable */
/// Adds `display: none;` to an element so it is hidden for all users
/// @name Hidden
/// @group utilities/display
/// @example markup
///   <div class="ln-u-hidden">I'm hidden</div>
/* stylelint-enable */
  .ln-u-hidden {
    display: none !important;
  }
}

@if $use-ln-visually-hidden {
/* stylelint-disable */
/// Visually hides an element whilst ensuring the content will still be read out by screen readers.
/// @name Visually hidden
/// @group utilities/display
/// @example markup
///   <div class="ln-u-visually-hidden">Only screen readers will get this</div>
/* stylelint-enable */
  .ln-u-visually-hidden {
    @include ln-visually-hidden(true);
  }
}

@if $use-ln-circle {
/* stylelint-disable */
/// Adds `border-radius` to an element to change it's shape
/// @group utilities/misc
/// @example markup
///   <div class="ln-u-display-inline-block ln-u-soft ln-u-bg-color-orange ln-u-circle"></div>
/* stylelint-enable */
  .ln-u-circle {
    border-radius: 1000px !important;
  }
}

@if $use-ln-ellipsis {
/* stylelint-disable */
/// Adds ellipsis to highlight that text content has been cut off due to the constraints of the container
/// @group utilities/misc
/// @example markup
///   <div class="ln-u-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu diam quis turpis egestas elementum.</div>
/* stylelint-enable */
  .ln-u-ellipsis {
    display: block !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
}

@if $use-ln-fill-height {
/* stylelint-disable */
/// Expands the element to the full height of it's container
/// @group utilities/misc
/// @example markup
///   <div class="ln-u-fill-height"></div>
/* stylelint-enable */
  .ln-u-fill-height {
    height: 100%;
  }
}
